form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 550px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#content{

}

#header{
    border: 1px solid black;
}

#formContainer {
    
}

#names, #addresses, #passwords {
    display: flex;
    justify-content: space-around;
    /* column-gap: auto; */
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}

label {
    position: absolute;
    bottom: 40px;
}

input {
    padding: 10px;
    width: 225px;

}